<HTML>
    <BODY style="position: relative; ">
        <form method= "POST" action="">
            <div class="container" style="background-color: grey; 
                    border: black solid 1px; 
                    position: absolute; 
                    margin-left: 36%; 
                    width: 400px; 
                    height: 300px;
                    text-align: center;">
                <H1>Welcome! Enter your details</H1><br>
                <input type= "text" name= "fname" placeholder="Name" /> <br><br>
                <input type="text" name="lname" placeholder="Last Name"/> <br><br>
                <input type="submit">
            </div>
        </form>
    </BODY>
</HTML>